/**
 * Custom css for our fork of pdf.js.
 */

.rotateCw::before {
  content: url(images/secondaryToolbarButton-rotateCw.png);
}

#mainContainer.landscape .rotateCw::before {
  transform: rotate(-90deg);
  transform-origin: 8px 8px;
}
